*{
    padding: 0;
    margin: 0;
}
body{
    width: clamp(50vw,100vw,120vw);
    height: clamp(50vh,100vh,120vh);
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,rgb(18, 124, 71),rgb(68, 174, 188));
}
#game{
    display: none;

}
#loading{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
#loading #roll-loading{
    width: 75px;
    height: 75px;
    border-radius: 75px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;
    border: 5px solid rgb(236, 168, 7);
    border-left-color:transparent;
    animation-name: up-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#loading #bar-loading{
    width: 50%;
    height: 18px;
    margin-bottom: 30px;
    text-align: center;
    color:white;
    border: 3px solid black;
}
#loading #bar-loading p {
    display: inline;
}
#options{
    height: 100%;
    display: flex;
}
#start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
}
#rules{
    width: 50%;
    transition: all 0.5s ease;
}
#title{
    margin-bottom: 16px;
    text-align: center;
}
#describe span{
    color: red;
}
#start-button{
    width: 50%;
    text-align: center;
    margin-top: 16px;
}
#start-button button{
    width: 50%;
    font-size: 20px;
    color: rgb(73, 209, 52);
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}
#start-button button:hover{
    color: white;
    background-color: rgb(73, 209, 52) ;
}
@keyframes up-down{
    to{
        transform: rotate(360deg);
    }
}